* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.site-main{
  flex-grow: 1;
}